VIDEO_COLLECTOR_IMAGE=ghcr.io/chenlinning/video-collector:latest
VIDEO_COLLECTOR_MAX_CONCURRENT=2
VIDEO_COLLECTOR_MAX_QUEUED=4
VIDEO_COLLECTOR_PARSE_RATE_LIMIT=20
VIDEO_COLLECTOR_TASK_RATE_LIMIT=5
VIDEO_COLLECTOR_TASK_TIMEOUT_SECONDS=7200
VIDEO_COLLECTOR_TRUST_PROXY=true
VIDEO_COLLECTOR_EGRESS_MODE=off
VIDEO_COLLECTOR_CN_PROXY_URL=
VIDEO_COLLECTOR_CN_PROXY_SOURCE_HOSTS=
VIDEO_COLLECTOR_CN_PROXY_ROUTE_TTL_SECONDS=1800
VIDEO_COLLECTOR_CN_PROXY_CONNECT_TIMEOUT_SECONDS=5
VIDEO_COLLECTOR_CN_PROXY_BREAKER_FAILURES=3
VIDEO_COLLECTOR_CN_PROXY_BREAKER_SECONDS=60
VIDEO_COLLECTOR_EMBED_MODE=off
VIDEO_COLLECTOR_EMBED_ALLOWED_ORIGINS=
VIDEO_COLLECTOR_EMBED_SESSION_TTL_SECONDS=3600
